:root {
    --frosted-glass: rgba(0, 0, 0, 0.75);
    --frosted-white: rgba(255, 255, 255, 0.75);
    --quiz-bg: #151932;
    --default-text: #e5d7b0;
    --yellow: #f4f966;
    --green: #98ecae;
    --blue: #0b7bfb;
    --pink: #bc13fe;
    --red: #e195af;
}

* {
    box-sizing: border-box;
}

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

.center-elements {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drop-shadow {
    box-shadow: rgba(232, 222, 251, 0.15) 1.95px 1.95px 2.6px;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--default-text);
    background-image: url("/media/bg.jpg");
    background-size: cover;
    background-position-x: left 50%;
}

.center-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}

.neonText {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px var(--blue), 0 0 80px var(--blue),
        0 0 90px var(--blue), 0 0 100px var(--blue), 0 0 150px var(--blue);
}

.neonTextPink {
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px var(--pink), 0 0 45px var(--pink),
        0 0 55px var(--pink), 0 0 70px var(--pink), 0 0 80px var(--pink);
}

.neonBox {
    background-color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--blue), 0 0 0.8rem var(--blue), 0 0 2.8rem var(--blue),
        inset 0 0 1.3rem var(--blue);
}

.neonBoxYellow {
    background-color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--yellow), 0 0 0.8rem var(--yellow),
        0 0 2.8rem var(--yellow), inset 0 0 1.3rem var(--yellow);
}

.neonBoxPink {
    background-color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--pink), 0 0 0.8rem var(--pink), 0 0 2.8rem var(--pink),
        inset 0 0 1.3rem var(--pink);
}

.neonBoxGreen {
    background-color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--green), 0 0 0.8rem var(--green),
        0 0 2.8rem var(--green), inset 0 0 1.3rem var(--green);
}

.neonBoxRed {
    background-color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--red), 0 0 0.8rem var(--red), 0 0 2.8rem var(--red),
        inset 0 0 1.3rem var(--red);
}

.headingtext {
    font-family: "Sacramento", sans-serif;
    font-size: 4rem;
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--blue);
}

.red {
    font-family: "Roboto", sans-serif;
    color: var(--red);
}

/* Homepage */

.home {
    font-family: "Sacramento", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: repeat(2, 200px);
    gap: 1rem;
    height: 325px;
    width: 55%;
    border-radius: 1rem;
    padding: 1rem;
    justify-content: center;
    align-self: center;
}

.homebuttons {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--pink);
    color: var(--default-text);
    background-color: var(--quiz-bg);
}

#newgameheadingtext {
    grid-area: 1/1/1/4;
    font-style: oblique;
}

#newgame:hover,
#continue:hover,
#rules:hover,
#testsound:hover {
    background-color: #bc13fe;
    color: var(--default-text);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--pink), 0 0 0.8rem var(--pink), 0 0 2.8rem var(--pink),
        inset 0 0 1.3rem var(--pink);
}

/* Home Modal Window */

/* Player Sign Up Modal */
.modal-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 30%;
    background-color: var(--quiz-bg);
    color: var(--default-text);
    border-radius: 1rem;
    z-index: 5;
    text-align: center;
    justify-content: start;
}

#startbtn {
    background-color: var(--quiz-bg);
    color: var(--default-text);
    border: 2px solid var(--default-text);
}

#startbtn:hover {
    background-color: var(--default-text);
    color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--yellow), 0 0 0.8rem var(--yellow),
        0 0 2.8rem var(--yellow), inset 0 0 1.3rem var(--yellow);
}

#signup-container {
    display: grid;
    grid-auto-columns: 300px 300px;
    gap: 2rem;
}

#signup-form {
    grid-area: 1/1/2/2;
}

#username {
    background-color: var(--quiz-bg);
    border: 2px solid var(--default-text);
    color: var(--default-text);
}

#categories-container {
    grid-area: 1/2/2/3;
    padding-bottom: 10px;
}

#categories-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}

/* Ruleboard */
.modal-rules {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--quiz-bg);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    z-index: 5;
}

.ruleboard-grid {
    display: grid;
    grid-auto-rows: repeat(3, 100px);
    gap: 1rem;
    margin: 1rem;
}

.ruleboard-grid-heading {
    font-family: "Sacramento", sans-serif;
    color: #98ecae;
    font-size: 4rem;
}

.ruleboard-grid-buttons {
    grid-area: 1/3/2/4;
    justify-content: end;
}

.rulesbtn {
    background-color: var(--quiz-bg);
    color: var(--green);
    border: 2px solid var(--green);
}
#rulesprev:hover,
#rulesnext:hover,
#rulesclose:hover {
    background-color: var(--green);
    color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--green), 0 0 0.8rem var(--green),
        0 0 2.8rem var(--green), inset 0 0 1.3rem var(--green);
}

/*
    Error Messages
*/

.err {
    color: red;
    font-size: 1rem;
}

/*
    Test Sound Button
*/
.modal-test-sound {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    width: 30%;
    padding: 2rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.btns-test-sound {
    background-color: var(--quiz-bg);
    border: 2px solid #0b7bfb;
    color: var(--blue);
}

#soundslow:hover,
#soundpause:hover,
#soundfast:hover {
    background-color: var(--blue);
    color: var(--default-text);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--blue), 0 0 0.8rem var(--blue), 0 0 2.8rem var(--blue),
        inset 0 0 1.3rem var(--blue);
}

/*
    Quiz Window
*/
.video-container {
    display: flex;
    flex-direction: column;
}

/* .video-element {
    display: grid;
    grid-template-rows: 10% auto;
    width: 80%;
    height: 60%;
    position: absolute;
    border-radius: 1rem;
    z-index: 10;
    background-color: var(--quiz-bg);
    backdrop-filter: blur(5px);
    font-size: 1rem;
    padding: 10px 10px;
    justify-content: center;
    align-content: start;
} */

.video-element {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    border-radius: 1rem;
    z-index: 10;
    background-color: var(--quiz-bg);
    backdrop-filter: blur(5px);
    font-size: 1rem;
    padding: 1rem;
    justify-content: center;
    align-content: start;
    margin: 10px 10px;
}

.element-1 {
    display: grid;
    grid-template-columns: 15% repeat(5, auto);
    height: 100%;
    width: 100%;
    gap: 1rem;
    color: #bc13fe;
    justify-content: start;
    align-content: start;
    font-size: 1.5rem;
}

#element-1-playername {
    grid-area: 1/1/2/2;
    padding-left: 10px;
    font-size: 2rem;
}

#element-1-currentplayback {
    grid-area: 1/2/2/3;
    padding-left: 10px;
    font-size: 2rem;
}
#element-1-correct {
    grid-area: 1/3/2/4;
    padding-left: 10px;
    color: green;
    font-size: 2rem;
}

#element-1-wrong {
    grid-area: 1/4/2/5;
    padding-left: 10px;
    color: red;
    font-size: 2rem;
}
#element-1-totalscore {
    grid-area: 1/5/2/6;
    padding-left: 10px;
    font-size: 2rem;
}

#element-2 {
    color: var(--default-text);
    justify-content: start;
    align-content: start;
}

.question-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.question-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
}

.question-heading {
    grid-area: 1/1/2/2;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 1rem;
}

.question-answers {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: row;
}

.question-answer-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.q-btn {
    border: 2px solid var(--red);
}

#q1:hover,
#q2:hover,
#q3:hover,
#q4:hover {
    background-color: var(--red);
    color: var(--quiz-bg);
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--red), 0 0 0.8rem var(--red), 0 0 2.8rem var(--red),
        inset 0 0 1.3rem var(--red);
}

#q1 {
    grid-area: 1/1/2/2;
    white-space: normal;
}

#q2 {
    grid-area: 1/2/2/3;
    white-space: normal;
}

#q3 {
    grid-area: 2/1/3/2;
    white-space: normal;
}

#q4 {
    grid-area: 2/2/3/3;
    white-space: normal;
}

.end-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 15;
    object-fit: contain;
}

.end-video-background {
    display: flex;
    background-color: #000;
    color: #fafefd;
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.congrats {
    position: absolute;
    display: grid;
    grid-template-rows: 20% 80%;
    height: 60%;
    width: 90%;
    background-color: var(--quiz-bg);
    justify-content: center;
    align-items: start;
    border-radius: 25px;
    padding-top: 1rem;
}

#congrats-heading {
    grid-area: 1/1/2/2;
    padding: 1rem 1rem;
    font-size: 2.5rem;
    align-self: center;
}

#congrats-message {
    grid-area: 2/1/3/2;
    align-self: start;
}

.overlay {
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--frosted-glass);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.hidden {
    display: none;
}
