:root {
    --background-color: #dad7cd;
    --text-color: #132a13;
    --dark-color: #344e41;
    --drop-shadow-light: #344e41;
    --secondary-color: #a3b18a;
    --border-color: #588157;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

.drop-shadow {
    box-shadow: rgba(232, 222, 251, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: var(--drop-shadow-light) 0px 2px 8px 0px; */
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Homepage */

.home {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: repeat(2, 30%);
    gap: 1rem;
    width: 50%;
    border-radius: 20px;
    padding: 2rem;
    justify-content: center;
    background-color: var(--secondary-color);
    /* border: 1px solid var(--border-color); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homebuttons {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* border: 1px solid var(--border-color); */
    color: var(--text-color);
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: lightgray;
}

#newgameheadingtext {
    grid-area: 1/1/1/4;
    font-size: 3rem;
    font-weight: bold;
}

#newgame {
    grid-area: 2/1/2/2;
}

#newgame:hover {
    background-color: #a7c957;
}

#continue {
    grid-area: 2/2/2/3;
}

#continue:hover {
    background-color: #34a0a4;
}

#rules {
    grid-area: 2/3/2/4;
}

#rules:hover {
    background-color: #f2e8cf;
}

#playbutton {
    background-color: #bc4749;
}

/* New Game Modal Window */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center; /* Center content horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-modal {
    font-size: 20rem;
    font-weight: 6 00;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Add a smooth hover effect */
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.overlay {
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden {
    display: none;
}
